body {
    background-color: #19A1AD;
    margin: 0px;
    overflow: hidden;
}

.background {
    height: 100vh;
    width: 100vw;
}

.background__top {
    background-image: url("../images/bg-pattern-top.svg");
    background-repeat: no-repeat;
    background-position: 80% 80%;
    height: 100vh;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
